<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- The head element is generated -->
    ${admin_head}
    ${head}
  </head>

  <body>
    <div id="doc3" class="yui-t1">

      <!-- HEADER -->
      ${admin_header}

      <!-- BODY -->
      <div id="bd">
        ${admin_menu}

        <div id="yui-main">
          <div class="yui-b">
            <div class="yui-g">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel viverra risus.
                Vivamus sit amet velit in odio pharetra aliquet et ut orci. Ut eros sem,
                condimentum vitae dictum id, aliquam ac mauris. Sed mi turpis, sodales ut
                iaculis sed, auctor non ipsum. Maecenas dictum pretium enim vitae gravida.
                Vestibulum nec porta nibh. Praesent bibendum enim vitae neque accumsan at
                vulputate dolor fermentum. Sed vel dolor magna. Ut imperdiet facilisis placerat.
                Phasellus blandit eleifend augue, eget varius sapien convallis quis. Cras
                faucibus congue tellus, nec malesuada eros commodo vel. Aliquam erat volutpat.
                Vestibulum erat elit, tristique non ornare aliquam, imperdiet eget tellus. Nulla
                facilisi. Proin commodo eleifend lectus, eget ornare elit scelerisque eu. Morbi
                egestas nunc vel sem suscipit ut faucibus turpis lacinia.
              </p>

              <p>
                  Aenean vel tellus neque. Vestibulum ante ipsum primis in faucibus orci luctus et
                  ultrices posuere cubilia Curae; Cras commodo tristique augue. Ut facilisis
                  bibendum felis, vel pulvinar metus dapibus a. Donec ut ante ut arcu pulvinar
                  suscipit. Donec consectetur risus sit amet elit facilisis suscipit. Cras ornare
                  orci nec erat mollis sagittis. Maecenas sagittis dignissim purus. Nulla volutpat
                  dolor at ipsum sollicitudin fringilla. Suspendisse varius nunc in urna aliquet
                  gravida. Nulla in pharetra est. Quisque viverra lacinia blandit. Nullam
                  fringilla urna luctus nulla lobortis sed luctus sem fringilla. Nullam molestie,
                  neque eu tristique euismod, sapien nibh ultricies ligula, vel ultrices est neque
                  sed odio. Etiam aliquam feugiat sapien, aliquam vestibulum ante hendrerit ac.
                  Donec eu diam justo. Integer eget nisi diam, non tempor metus. Donec hendrerit
                  ullamcorper semper. Aenean ac lorem a tellus mollis tincidunt. Suspendisse
                  tempus dictum ultricies.
              </p>
            </div>
          </div>
        </div>
      </div>

      #include ("admin/footer.tmpl")
    </div> <!-- id="doc3" -->
  </body>
</html>

#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=2000: *#
