      <!-- FOOTER -->
      <div id="ft">
          <p class="alignleft">
              GUI of this administration inspired by <a href="http://wordpress.org">WordPress</a>
          </p>
          <p class="alignright">
              Powered by <a href="http://caml.inria.fr/ocaml/index.en.html">OCaml</a>
          </p>
      </div>

#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=2000: *#
