<div class="left-column">
    <p class="noindent">Il modo più veloce per contattarmi è quello di inviarmi un'email all'indirizzo:</p>
    
    <pre><span class="cnbyb2"></span></pre>
    
    <p>Leggo la posta molto di frequente, quindi se dovete comunicarmi qualcosa di importante usate
    l'email</p>

    <p>Poiché dispongo da molti anni di una <a href="/contacts/gpg-public-key">chiave pubblica
    PGP</a>, potete utilizzarla se volete inviarmi un'email confidenziale <em>cifrata</em>, così da
    essere ragionevolmente sicuri che nessun intruso possa leggerla.</p>
</div>

<div class="right-column">
    <p class="noindent">The quickest way to contact me is to send me an email to this address:</p>

    <pre><span class="cnbyb2"></span></pre>

    <p>I check my email account very frequently, so if you have something important to tell, use
    email.</p>

    <p>Since I have had a <a href="/contacts/gpg-public-key">PGP public key</a> for a long
    time,  you can use it if you want to send me a confidential <em>ciphered</em> email, so you can
    be reasonably sure that no people other than me could read it.</p>
</div>

<br style="clear:both" />

#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=100: *#
