<p class="noindent">Se ti interessa, scarica il mio <a
href="/wp-content/uploads/2008/01/curriculum_vitae__alessandro_donadeo.pdf"
title="Curriculum Vitæ in formato PDF">curriculum vitæ in formato PDF</a>.</p>

<h4>Dati anagrafici e personali</h4>

<div style="margin-left: 2em;">
  <p class="noindent">
    Nato a Vigevano il 13/02/1981<br />
    Residenza:<br />
    Via Griona, 16<br />
    27029 Vigevano (PV)<br />
    Email: alessandro.donadeo@gmail.com<br />
    Stato civile: celibe<br />
    Milite: esente
  </p>
</div>

<h4>Esperienze lavorative</h4>

<table>
  <tbody>
    <tr>
      <td>da 09/2005</td>
      <td>Preparatore atletico presso la Società Sportiva di pallacanestro CAT Vigevano.</td>
    </tr>
    <tr>
      <td>da 09/2000</td>
      <td>Istruttore Minibasket presso la società sportiva C.A.T. con la qualifica di Istruttore
      Federale Minibasket e Allievo Allenatore Nazionale F.I.P.</td>
    </tr>
    <tr>
      <td align="left">01/2004 – 10/2005</td>
      <td>Personal trainer presso la palestra “Fisiosport” a Vigevano.</td>
    </tr>
    <tr>
      <td align="left">01/2002 – 03/2003</td>
      <td>Insegnante di ginnastica educativa ed antalgica presso il Comune di Milano nell’ambito di
      corsi serali di ginnastica rivolti ad adulti ed anziani.</td>
    </tr>
    <tr>
      <td align="left">2001 – 2002</td>
      <td>Collaboratore presso la casa editrice “Alpha Test” di Milano, settore vendita e rapporto
      con il cliente.</td>
    </tr>
  </tbody>
</table>

<h4>Esperienze formative</h4>

<table>
  <tbody>
    <tr>
      <td>04/2007</td>
      <td>Laureato (97/110) presso la Facoltà di Scienze Motorie, con la tesi di laurea dal titolo:
      “L’allenamento può prevenire o ridurre i sintomi da jet-lag? Un disegno sperimentale”.</td>
    </tr>
    <tr>
      <td>2005</td>
      <td>Conseguimento del diploma dei seguenti quattro Master rilasciati dalla Federazione
      Italiana Fitness (F.I.F.):
        <ol>
          <li>Ipertrofia e Body Building</li>
          <li>Supplementazione</li>
          <li>Alimentazione</li>
          <li>Cardiofitness</li>
        </ol>
      </td>
    </tr>
    <tr>
      <td>2004</td>
      <td>Brevetto di Allievo Allenatore Nazionale rilasciato dalla Federazione Italiana
      Pallacanestro.</td>
    </tr>
    <tr>
      <td>2003</td>
      <td>Diploma di Istruttore Federale di primo livello “BodyBuilding &amp; Cardiofitness”
      rilasciato dalla Federazione Italiana Fitness.</td>
    </tr>
    <tr>
      <td>2001</td>
      <td>Brevetto di Istruttore Federale di Minibasket rilasciato dalla Federazione Italiana
      Pallacanestro.</td>
    </tr>
    <tr>
      <td>2000</td>
      <td>Diploma di Maturità Scientifica conseguito nell’anno scolastico 1999/2000 presso il Liceo
      B. Cairoli di Vigevano con votazione 85/100.</td>
    </tr>
  </tbody>
</table>

<h4>Capacità e competenze personali</h4>

<table>
  <tbody>
    <tr>
      <td><strong>Madrelingua</strong>:</td>
      <td>Italiano</td>
    </tr>
    <tr>
      <td><strong>Altra lingua</strong>:</td>
      <td>Inglese</td>
    </tr>
    <tr>
      <td><strong>Autovalutazione Inglese</strong>:</td>
      <td><strong>Ascolto</strong>: utente autonomo; <strong>lettura</strong>: utente avanzato;
      <strong>interazione orale</strong>: utente autonomo; <strong>produzione orale</strong>: utente
      autonomo; <strong>produzione scritta</strong>: utente autonomo.</td>
    </tr>
    <tr>
      <td align="left"><strong>Capacità e competenze sociali</strong></td>
      <td>Capacità di lavorare in gruppo maturata in molteplici situazioni in cui era indispensabile
      la collaborazione tra figure di diverse fasce d’età.</td>
    </tr>
    <tr>
      <td align="left"><strong>Capacità e competenze organizzative</strong></td>
      <td>Capacità di lavorare in situazioni di stress, legate soprattutto al rapporto con il
      pubblico; bella presenza.</td>
    </tr>
    <tr>
      <td align="left"><strong>Capacità e competenze informatiche</strong></td>
      <td>Ottima conoscenza dei Sistemi Operativi Microsoft Windows 95/98, Windows XP e Linux; buona
      conoscenza dei principali software di “office automation”, come Microsoft Office ed
      OpenOffice. Buona capacità di navigare in Internet.</td>
    </tr>
    <tr>
      <td><strong>Patente</strong></td>
      <td>Automobilistica (patente B)</td>
    </tr>
    <tr>
      <td><strong>Interessi e passioni</strong></td>
      <td>
        <ul>
          <li> Mi piacciono gli sport che pratico e ho praticato (pallacanestro, calcio, nuoto e
               mountain bike) ed altri che seguo, come l’Hockey (NHL) e sport motoristici quali la
               Formula 1, WRC e Moto GP;</li>
          <li> automodellismo;</li>
          <li> fotografia;</li>
          <li> musica (Jazz, Rock, strumentale e Pop);</li>
          <li> fitness.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=100: *#
