<p class="noindent">
  Here is my GPG public key. You are encouraged to download it and add to your
  keyring. My old RSA key was revoked: it's still present here to allow you to
  import it in your keyring as a <strong>revocation certificate</strong>.
  If you need to send me encrypted emails or data, use the DSA key, please.
</p>

<p class="noindent">
  If you have no idea how to use these keys, I think you might visit the <a
  title="PGP Corporation - Homepage" href="http://www.pgp.com">PGP site</a>.
  Personally, I prefer to use a free version of PGP, <a title="The GNU
  Privacy Guard" href="http://www.gnupg.org/">GnuPG</a>.
</p>

<p class="noindent">
  <strong>Note</strong>: I recently added to the DSA key a <em>photo ID</em>:
  you can effectively verify the authenticity of this key by looking at the
  picture. If you recognize me, it's a beginning. The next step is to compare the
  <em>key fingerprint</em> included in the key with this one:
</p>

<p class="noindent">
  <a  title="DSA key"
      href="/wp-content/uploads/2006/11/key_0x375d5b01.asc">
      <strong>0x375D5B01</strong>
  </a> key: <kbd>5C86 2A6E 8D9B 1422 8357 E070 C034 5167 375D 5B01</kbd>
</p>
<p class="noindent">
  <a  title="RSA key"
      href="/wp-content/uploads/2006/11/key_0xe82cea41.asc">
      <strong>0xE82CEA41</strong> </a>
      key: <kbd>85 43 E9 61 0A FE 76 B7 EE D5 37 18 AE C6 2A 61</kbd>
</p>

<p class="noindent">
  The best will be to ask me in person the fingerprint.
</p>

<p>Have fun.</p>
#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=100: *#
