      <div id="header" class="col last">
        <h1>
          <a title="Home page of “${blog_title()}”" href="${abs_url("/")}">${blog_title()}</a>
          <br />
          <span style="font-size: 0.643em; line-height: 1.3; margin-top: 0.5em;">
            A blog about my <span class="low">life</span>, job and thoughts
          </span>
        </h1>
      </div>
#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=2000: *#
