        <div class="section">
          <h2 class="ver small">My friends on the net</h2>
          <ul class="nav"> 
            <li><a href="http://www.tautologica.org/astrada" rel="friend met" title="Alessandro Strada home page">Alex</a></li> 
            <li><a href="http://www.gripho.it" rel="met co-worker colleague co-resident" title="Andrea&\#8217;s home page">Andrea</a></li> 
            <li><a href="http://www.myspace.com/anna.strada" title="MySpace page of my friend Anna" rel="friend met">Anna on MySpace</a></li>
            <li><a href="http://www.tautologica.org/beniamino" rel="friend colleague" title="Matteo Beniamino home page">Benji</a></li> 
            <li><a href="http://giannizzeronero.blogspot.com" rel="friend met co-worker colleague" title="Domenico&\#8217;s blog">Dome</a></li> 
            <li><a href="http://blog.duea.info/" rel="friend met co-worker" title="Gigi&\#8217;s blog">Gigi</a></li> 
            <li><a href="http://www.ilariapesenti.net" rel="friend met co-resident" title="Ilaria&\#8217;s blog">Ilaria</a></li> 
            <li><a href="http://koolinus.wordpress.com/" rel="contact">kOoLiNuS&\#8217;s blog (English)</a></li> 
            <li><a href="http://www.koolinus.net/blog/" rel="contact">kOoLiNuS&\#8217;s blog (italian)</a></li> 
            <li><a href="http://lericettedelsecco.blogspot.com" rel="friend met neighbor" title="Teo&\#8217;s blog">Le ricette del secco</a></li> 
            <li><a href="http://www.robertogastaldi.net" rel="friend met co-worker co-resident" title="Roberto Gastaldi&\#8217;s blog">Roberto Gastaldi</a></li> 
            <li><a href="http://21097.tumblr.com/" rel="friend met co-worker" title="Tommaso&\#8217;s blog">Tommaso Carullo</a></li> 
          </ul>
        </div>
#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=2000: *#
