        <div class="section">
          <h2 class="ver small last">A book is the best present&\#8230;</h2>
          <ul class="nav"> 
            <li style="text-align: center;">
              <a href="http://www.amazon.com/gp/registry/wishlist/2DPZVL1BWK6L7/ref=wl_web/">
                <img style="border: 0px none;" title="My Amazon.com Wish List"
                     alt="My Amazon.com Wish List" src="/static/images/amazon_wl.png" />
              </a>
            </li>
          </ul>
          <ul class="nav"> 
            <li style="text-align: center;">
              <a href="http://www.hoepli.it/wishlist_user.asp?u=00000019816C63EF3B2A26408181DA0F1FA2E6FBD7">
                <img style="border: 0px none;" title="My Hoepli.it Wish List"
                     alt="My Hoepli.it Wish List" src="/static/images/hoepli_wish_list.png" />
              </a>
            </li>
          </ul>
          <ul class="nav"> 
            <li style="text-align: center;">
              <a href="http://www.bookdepository.co.uk/wishlist/253940/Paolo-Donadeo">
                <img style="border: 0px none;" title="My Bookdepository.co.uk Wish List"
                     alt="My Bookdepository.co.uk Wish List" src="/static/images/book_dep_wish_list.png" />
              </a>
            </li>
          </ul>
        </div>
#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=2000: *#
