    #if (is_old_browser)
    <div id="old-browser-warning">
      <p>
        <strong>Important notice</strong>: it seems you are using and old
        browser. This site supports all recent browsers, including text-only
        browsers, but not old versions of Microsoft Internet Explorer. Please,
        consider upgrading your program, it's important for both security
        reasons and accessability. Click in this box to hide.
      </p>
      <p>
        <strong>Avviso importante</strong>: sembra che stiate usando un vecchio
        browser. Questo sito supporta tutti i browser recenti, compresi quelli
        solo testo, ma non le vecchie versioni di Microsoft Internet Explorer.
        Prendete in considerazione la possibilità di aggiornare il vostro
        programma, sia per motivi di sicurezza sia per motivi di accessibilità.
        Cliccate in questo riquadro per nasconderlo.
      </p>
    </div>
    #end
#*  vim:set expandtab tabstop=2 shiftwidth=2 softtabstop=2 smarttab syntax=htmlcheetah tw=80: *#
